.header{
    /* background: chartreuse; */
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #DEEEEA;
    }
    
    .logo{
        height: 40%;
        width: 20%;
        /* background: coral; */
    }
    
    .logo img{
        height: 100%;
        width: 100%;
    }
    
    .search-btn{
        width: 300px;
    }
    
    .search-btn input{
        outline:none;
        border:none;
        text-align: center;
        width: 100%;
    }